

.pin {
    display: block;
    position: absolute;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 7px;
    transition: all .2s ease;
    background: linear-gradient(60deg, #00000033, #05263b33);
    border-radius: 5px;
}

.pin-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: radial-gradient(#00000000, #00000088);
}

.pin-overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    outline: outset #356c8188 7px;
    /* background: radial-gradient(#00000000, #00000088); */
}

.pin:hover .pin-overlay {
    opacity: 1;
}

.pin:hover .pin-overlay2 {
    opacity: 1;
}

.pin img {
    width: 100%;
    border-radius: 5px;
}

#picColumns {
    column-count: 3;
    column-gap: 5px;
}

#picRows {
    width: 100%;
}

.dir-button {
    display: inline-block;
    position: relative;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 7px;
    transition: all .2s ease;
    background: linear-gradient(180deg, #00000066, #00000000);
    border-radius: 5px;
    max-height: 200px;
    max-width: 200px;
    height: calc(50vw - 21px);
    width: calc(50vw - 21px);
    color: white;
    text-shadow:0 0 3px black;
    text-align: center;
}

.dir-button img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    z-index: -1;
}

.dir-button-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: radial-gradient(#00000000, #00000088);
}

.dir-button:hover .dir-button-overlay {
    opacity: 1;
}

#darkenBack {
    position: fixed;
    background-color: #000000cc;
    height:100%;
    width:100%;
    bottom: 0;
    left: 0;
    z-index: -11;
}

#fullImage {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 56px);
    display : flex;
    align-items : center;
    justify-content: center;
}

#fullImagePageNumber {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-shadow:0 0 3px black;
    text-align: center;
    width: 100%;
}

.x-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.i-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.slidecontainer input {
    position: relative;
    float: right;
}

body {
    background-color: #333;
    color: #DDD;
}
.navbar {
    background-color: #00000069;
    padding-left: 0.5rem;
}

.navbar-brand {
    margin-left: 0.5rem;
}

.side-nav {
    max-width: 300px;
    background-color: #00000093;
}

.navbar-collapse.side-nav {
    padding-left: 0;
    padding-right: 0;
}

.navbar-collapse {
    position: fixed;
    top: 60px; /* adjust to height of navbar */
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 75%;
    height: 100%;
}

.navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
}

.navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
}

.navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
}

#signOutSideNavButton {
    position: absolute;
    display: inline-block;
    bottom: 60px;
}

.page-container {
    margin-top: 56px;
    padding: 7px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #00000055;
}

::-webkit-scrollbar-thumb:hover {
    background: #00000077;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe99;
    margin: 63px auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: 80%; 
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    color: black;
    text-align: center;
  }
  .modal-content p {
      margin: 0
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 4px;
    left: 7px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {top: -200px; opacity: 0} 
    to {top: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {top: -200px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }